nav ul li {
  display: inline-block;
  width: auto;
  cursor: hand;
  cursor: pointer;
  padding-right: 0.5em;
}
nav ul li .child {
  width: 25%;
  position: absolute;
}
nav ul li .child li {
  display: none;
  width: 100%;
}
nav ul li:hover li {
  display: block;
}
#dropNavWrap {
  height: 200px;
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  z-index: 99;
}
nav#photoGallery {
  width: 100%;
  height: 119px;
  position: fixed;
  bottom: -50px;
  left: 0;
  display: block;
  float: left;
  z-index: 99;
}
