form span.buttons input{height:12px; margin-top:-3px !important;}
#hero #headlines .headline h1 {font-style:normal !important; font-weight:bold;}
nav#photoGallery .thumbs .thumbWrap a img:hover{border: 1px solid #fff; margin:-1px 0 0 -1px;}